{% extends "Task/base.html" %}
{% block main_content %}
		<div class="row">			
			<div class = "col-md-2">
				<div class="panel">
						<div class="form-group has-feedback">
						  <label class="control-label" for="inputGroupSuccess1">Filter by name</label>
						  <div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
							<input type="text" class="form-control input-sm" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status">
						  </div>
						</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Groups</strong>
					</div>
					<!--TODO: List group is hardcoded. Need to add the python code to fetch data from DB.-->
					<ul class="list-group">
						<li class="list-group-item" style="padding: 5px 15px">Roommates</li>
						<li class="list-group-item" style="padding: 5px 15px">Hangout</li>
						<li class="list-group-item" style="padding: 5px 15px">Project XYZ</li>
					</ul>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong>Friends</strong>
					</div>
					<!--TODO: List group is hardcoded. Need to add the python code to fetch data from DB.-->
					<ul class="list-group">
						<li class="list-group-item" style="padding: 5px 15px">user2</li>
						<li class="list-group-item" style="padding: 5px 15px">user3</li>
						<li class="list-group-item" style="padding: 5px 15px">user4</li>
					</ul>
				</div>
			</div>
			<div class = "col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" style="margin-left:90%">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Task</button>
					</div>
					<div class="panel-body">
					{% if task_list_label %}
						<ul class="list-unstyled">
							{% for task in task_list_label %}
								<li>
									<div class="alert alert-info" role="alert"><span><strong>{{task.title}}</strong></span>
									<div class = "pull-right">
									<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
									<a href = "{% url 'Task:delete' userid=userid taskid=task.id %}"><button type="button" class="btn btn-primary btn-sm" data-toggle="modal">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button></a>
									</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					{% else %}
						<div class="alert alert-info" role="alert"><p><strong>So far there are no new tasks!!!</strong></p></div>
					{% endif %}
					</div>					
				</div>
			</div>
			<div class = "col-md-2">
				<p><strong style="color:Blue">Filter</p>
				<input type="text" id = "filter" name="sort">
			</div>
			<!-- Including the modal for AddTask form -->
			{% include "Task/addtask.html" %}			
		</div>
{% endblock %}

