{% extends "Auth/base.html" %}
{% block main_content %}

		  <div class="row-fluid">
		    <div class="col-md-2">
		      This is span 2
		    </div>
		    <div class="col-md-8">
		      <h2>Signup</h2>            
				<form action = "{% url 'Auth:details' %}" onsubmit="return validatesignup()" method = "post">
					{% csrf_token %}
					<div class="form-group">
						<label for = "name">{{useridLabel}}</label>
						<input type = "text" class="form-control" id="username" name="username">
						<label for = "name">First Name:</label>
						<input type = "text" class="form-control" id="firstname" name  = "firstname">
						<label for = "name">Last Name:</label>
						<input type = "text" class="form-control" id="lastname" name = "lastname">
						<label for = "email">Email:</label>
						<input type = "email" class="form-control" id="email" name = "email">
						<label for = "email">Phone:</label>
						<input type = "text" class="form-control" id="phone" name = "phone">
						<label for = "pwd">{{passwordLabel}}</label>
						<input type = "password" class="form-control" id="password" name ="password">
						<br>
						<input type="submit" class ="btn btn-primary active" value = "Sign up">
					</div>
				</form>
		    </div>
		    <div class="col-md-2">
		      This is span 2
		    </div>
		  </div>
{% endblock %}		
